{% extends 'base.html' %}


{% block layout %}


<content class="sm:flex max-w-7xl mx-auto mt-20" x-data="{ mobileSidebarOpen: false }">
    <mobileSidebarNav class="flex justify-center pl-4 mt-10 sm:hidden col-span-full mx-auto mb-6 z-10 relative">
        <div @click="mobileSidebarOpen = !mobileSidebarOpen" class="mt-20">
            <ul class="flex items-center navitems flex-col md:flex-row gap-8 md:gap-0 justify-center h-full -translate-y-10 md:translate-y-0">
                <li x-data="{ dropdownOpen: false }" class="relative">
                    <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="hover:text-white text-lg cursor-pointer font-bold select-none">
                        Category
                        <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4" src="https://img.icons8.com/small/32/000000/expand-arrow.png" alt="Dropdown" />
                    </a>
                    <div x-show="dropdownOpen" x-cloak class="py-3 absolute bg-white text-black shadow rounded-md z-20"
                    x-transition:enter="duration-300 ease-out"
                    x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                    x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                        <ul class="flex flex-col gap-2">
                            {% for category in categories %}
                            <li><a class="hover:bg-gray-700 hover:text-white px-10 py-2 rounded-md {% if category.slug == tag.slug %}font-bold{% endif %} text-lg" href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </mobileSidebarNav>
    <main class="flex flex-wrap justify-center gap-8 mt-10 mb-40">

        {% block content %}
        {% endblock %}

    </main>

</content>

{% endblock %}