{% load price_filters %}
{% load static %}
<div class="w-full opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
    <img class="w-full" src="{{ product.image.url }}" alt="{{ product.title }}">
</div>
<div class="h-full w-full max-w-xl md:max-w-md md:max-h-xl p-10 space-y-8 bg-white opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
    <div class="">
        <span class="inline-block py-1 text-xl font-semibold text-gray-700 mr-2 mb-3">
            $ {{ product.price|formato_precio }} 
        </span>
        <p>{{ product.description }}</p>
        <a class="font-bold">{{ product.tags }}</a>
        <p class="font-bold">Stock: {{ product.stock }}</p>
    </div>
    <div class="flex items-center gap-5">
        Cantidad:
        <select id="qty-cart" class="block appearance-none  bg-white border border-gray-300 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
        </select>
    </div>
    <div class="flex gap-2  items-center pt-16 pb-32 md:p-0 mx-auto">
        <button value="{{ product.id }}" id="add-cart" class="{% if user.is_superuser %} hidden {% endif %}bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-8 rounded">Agregar al Carrito</button>
        {% if user.is_superuser %}
        <a class="bg-red-600 p-3 rounded hover:bg-red-800 font-bold text-white" href="{% url 'product-delete' product.id %}">Eliminar</a>
        <a class="bg-green-600 p-3 rounded hover:bg-green-800 font-bold text-white" href="{% url 'product-edit' product.id %}">Editar</a>
        {% endif %}
    </div>

</div>

<div class="absolute top-2/4" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator loader" width="150" src="{% static 'images/logo.png' %}"/>
</div>

<script>

    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault()
        $.ajax({
            type: 'POST',
            url: '{% url "cart-add" %}',
            data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json) {
                document.getElementById("cart_quantity").
                    textContent = json.qty
                location.reload()
            },
            
            error: function(xhr,errmsg, err) {
                
            }
        })
    })

</script>