{% extends 'layouts/g.html' %}

{% block content %}

{% load price_filters %}
{% load static %}
<div class="flex flex-col text-center justify-between rounded p-4 opacity-0" _="on load transition my opacity to 1 over 0.3 seconds">
        <div>
            <div class="py-4 border-b border-gray-200">
                <h1 class="text-2xl font-bold">Productos Favoritos</h1>
            </div>
            <div class="flex justify-center">
                {% if favorite_products %}
                <ul class="flex flex-col gap-4">
                    {% for product in favorite_products %}
                    <li class="flex flex-col sm:flex-row items-center space-x-4 my-2">
                        <img src="{{ product.image.url }}" alt="{{ item.product.title }}" class="w-40 object-cover rounded">
                        <div class="pr-4">
                            <h3 class="font-semibold">{{ product.title }}</h3>
                            <p class="text-sm text-gray-600">${{ product.price|formato_precio }}</p>
                            <a href="{% url 'product-detail' product.id %}">
                                <button class="bg-gray-900 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
                                    Ver
                                </button>
                            </a>
                            <button id="delete-product" data-index="{{ product.id }}" class="w-10 p-2 bg-red-600 hover:bg-red-800 update-cart text-sm"><img class="w-full" src="https://img.icons8.com/small/64/ffffff/delete-sign.png" alt="delete-product"></button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="text-center text-gray-600">No tienes productos favoritos</p>
                {% endif %}
            </div>
        </div>
</div>

<div class="absolute top-80" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator loader" width="150" src="{% static 'images/logo.png' %}"/>
</div>

<script>

    // Delete product
    $(document).on('click', '#delete-product', function(e){
        e.preventDefault()
        let productid = $(this).data('index');
    
        $.ajax({
            type: 'POST',
            url: '{% url "favorite-delete" %}',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
    
            success: function(json) {
                location.reload();
            },
            
            error: function(xhr,errmsg, err) {
                
            }
        })
    })

</script>

{% endblock %}
