<div class="detail1">
    <img class="w-full" src="{{ product.image.url }}" alt="{{ product.title }}">
</div>
<div class="detail2 bg-white">
    <div class="px-6 py-8">
        <div class="font-bold text-gray-700 text-3xl mb-7">{{ product.title }}</div>
        <span class="inline-block py-1 text-xl font-semibold text-gray-700 mr-2 mb-3">
            {{ product.price }} €
        </span>
        <p>{{ product.description }}</p>
        {% for tag in product.tags.all %}
        <a class="font-bold">{{ tag }}</a>
        {% endfor %}
    </div>
    <div class="flex gap-2 justify-center mt-10 pb-32 mx-6">
        <button class="{% if user.is_superuser %} hidden {% endif %}bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-8 rounded">
            Add Cart
        </button>
        {% if user.is_superuser %}
        <a class="bg-red-600 p-3 rounded hover:bg-red-800 font-bold text-white" href="{% url 'product-delete' product.id %}">Delete</a>
        <a class="bg-green-600 p-3 rounded hover:bg-green-800 font-bold text-white" href="{% url 'product-edit' product.id %}">Edit</a>
        {% endif %}
    </div>
</div>