{% extends 'layouts/f.html' %}
{% load static %}


{% block title %}Configuracion | {% endblock %}



{% block content %}

<h1 class="text-center sm:text-start mb-8">Configuracion</h1>

<div class="text-center sm:text-start w-full text-sm text-left text-gray-500">

    <div class="flex flex-col sm:flex-row items-center justify-between sm:px-10 border-y-2">

        <h2 class="pt-4 pb-1 text-base font-bold text-gray-900">
            Correo Electronico
        </h2>
        <div class="flex flex-col text-center gap-3">
            <p id="email-address" class="m-0">
                {% if user.email %}{{ user.email }}{% else %}No Email{% endif %}
            </p>
            {% if user.emailaddress_set.first.verified %}
            <span class="text-green-500">Verificado</span>{% else %}
            <span class="text-amber-500">No verificado</span>
            {% endif %}
        </div>
        <div class="flex flex-col gap-2 py-4 ">
            <a href="{% url 'profile-emailverify' %}" class="font-medium text-blue-600 hover:underline">
                {% if not user.emailaddress_set.first.verified %}Verifica{% endif %}
            </a>
            <a id="email-edit" class="cursor-pointer font-medium text-blue-600 hover:underline"
                hx-get="{% url 'profile-emailchange' %}" hx-target="#email-address" hx-swap="innerHTML">
                Editar
            </a>
        </div>

    </div>


    <div class="flex flex-col sm:flex-row items-center justify-between sm:px-10 border-b-2">

        <div class="py-4 text-base font-bold text-gray-900">
            Eliminar Cuenta
        </div>

        <div class="py-4 pl-4">
            Una vez eliminada, la cuenta desaparece para siempre.
        </div>
        <div class="py-5">
            <a href="{% url 'profile-delete' %}" class="font-medium text-red-600 hover:underline">
                Eliminar
            </a>
        </div>

    </div>
</div>


<div class="absolute top-32 left-2/4" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator loader" width="150" src="{% static 'images/logo.png' %}" />
</div>
{% endblock %}