{% extends 'layouts/g.html' %}
{% load static %}
{% block title %}Editar Perfil | {% endblock %}

{% block content %}

<div class="flex flex-col ">
    <h1 class="mb-2 text-3xl">Editar Perfil</h1>
    <div class="text-center flex flex-col items-center">
        <img id="avatar" class="w-36 h-36 rounded-full object-cover mb-4" src="{{ user.profile.avatar }}" />
        <div class="text-center max-w-md">
            <h1 id="realname">{{ user.profile.name }}</h1>
            <div class="text-gray-400 mb-2 -mt-3">@{{ user.username }}</div>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data" class="flex flex-col gap-5 pt-5">
        {% csrf_token %}
        <div>
            <h2>Informacion Personal</h2>
            {{ form.as_p }}
        </div>
        <div>
            <h2>Direccion</h2>
            {{ shipping_form.as_p }}
        </div>
        <a class="button secondaryAction text-center" href="{% url 'home' %}">Cancelar</a>
        <button type="submit">Guardar</button>
    </form>
    
    <a class="hover:underline text-gray-500 mt-16" href="{% url 'profile-delete' %}">Eliminar Perfil</a>
</div>


<div class="absolute top-1/4 left-2/4" hx-trigger="load">
    <img alt="Result loading..." class="htmx-indicator loader" width="150" src="{% static 'images/logo.png' %}" />
</div>

<script>

    // This updates the avatar
    const fileInput = document.querySelector('input[type="file"]');

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        const image = document.querySelector('#avatar');

        if (file && file.type.includes('image')) {
            const url = URL.createObjectURL(file);
            image.src = url;
        }
    });

    // This updates the name
    const realnameInput = document.getElementById('id_realname');
    const realnameOutput = document.getElementById('realname');

    realnameInput.addEventListener('input', (event) => {
        realnameOutput.innerText = event.target.value;
    });

</script>

{% endblock %}